<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>failure page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
     <div class="container">
        <div class="jumbotron">
            <form method="POST">
                <h1>SORRY YOUR INFORMATION DID NOT MATCH</h1>
                #{{ form.as_p }}
                {% csrf_token %}
                <a href="/sign" class="btn btn-primary" >TRY AGAIN</a>
                <a href="/log" class="btn btn-primary" >SIGN UP</a>

</body>
</html>